<h2>
    Login to  
    <span id="logoName">
        MY
        <span>ACHIEVEMENTS</span>
    </span>
</h2>
<form>
    <div *ngIf="error">
        <div class="error">{{error}}</div>
    </div>
    
    <a routerLink="/register">No account ? No social network ? Create an account now !</a>
    <br/><br/><br/>

    
    <label for="login">E-mail address</label><br/>
    <input [(ngModel)]="login" name="login" type="email" placeholder="john.doe@email.com" required/><br/><br/>
    <label for="password">Password</label><br/>
    <input [(ngModel)]="password" name="password" type="password" placeholder="••••••••••••" required/><br/><br/>
    <input (click)="loginAttempt()" type="submit" value="Login"/>
</form><br/>
<h4>Connect with your favourite social network :</h4><br/>
<span>
    <span id="linkedin" (click)="linkedinOAuth()">
        <img src="dist/images/linkedin.png"/>
    </span>
</span>
<span>
    <span id="google" (click)="googleOAuth()">
        <img src="dist/images/google.png"/>
    </span>
</span>
<br/><br/><br/>

<a routerLink="/register">No account ? No social network ? Create an account now !</a>

