<h2>Manage your tabs here :</h2>

<div *ngIf="profileDetails">
    <div *ngFor="let achievementList of profileDetails.tabs">
        <a [style.background]="achievementList.color" class="achievementList"
            href="/formtab?id={{achievementList.id}}">
            <span>
                <p>
                    <i class="{{achievementList.icon}}"></i><br/>
                    {{achievementList.name}}
                </p>
            </span>
        </a>
    </div>

    <a id="addButton" routerLink="/formtab">
        <p><i class="fa fa-plus"></i> Add tab</p>
    </a>
    
</div>