<div class="videoContainer">
    <video loop autoplay>
        <source src="https://res.cloudinary.com/provideup/video/upload/c_crop,g_center,h_500,w_1600/v1463855488/assets/3d_collaboration_web_1600.mp4" type="video/mp4"/>
    </video>
    <div>
        <p><i class="fa fa-graduation-cap"></i> MY<i>ACHIEVEMENTS</i></p>
        <span>BE PROUD OF YOURSELF !</span>
        <a routerLink="/login">Login or Create your account now !</a>
    </div>
</div>
<div class="description">
    My Achievements is the best way to share your personal successes !
</div>
<a routerLink="/login" class="description2">
    Just login with your favorite social networks !
</a>

