
<div *ngIf="profileDetails">
    <div id="profileManagement" *ngIf="personalProfile">
        <a routerLink="/edittabs">
            <i class="fa fa-th-list"></i><br/>
            Manage your tabs
        </a>
        <a *ngIf="profileDetails.tabs.length > 0" routerLink="/editachievements">
            <i class="fa fa-trophy"></i><br/>
            Manage your achievements
        </a>
    </div>
    <span>
        <img *ngIf="!profileDetails.profilePicture || profileDetails.profilePicture == 'null'" src="/dist/images/profilepicture.png"/>
        <img *ngIf="profileDetails.profilePicture && profileDetails.profilePicture != 'null'" src="{{profileDetails.profilePicture}}"/>
    </span><!--
    
    --><div id="profileDetailsDiv">
        <span>
            <h3>{{profileDetails.firstname}} {{profileDetails.lastname}}</h3>
            <p>{{profileDetails.nbAchievements}} <i class="fa fa-trophy"></i></p>
        </span>
        <div class="profiletabs">
            <div *ngIf="connected">
                <span id="profileresume" (click)="changeShowList(0); changeNbAchievementShown(0)">
                    <p>
                        Overview
                    </p>
                </span>
                <span (click)="changeShowList(achievementList.id); changeNbAchievementShown(i+1)" *ngFor="let achievementList of profileDetails.tabs; let i = index" [style.background]="achievementList.color">
                    <p>{{achievementList.name}}</p>
                </span>
                <img id="selector" [style.margin-left]="paddingLeft+'%'" src="/dist/images/triangle.png"/>
            </div>
            <div *ngIf="!connected">
                <span id="profileresume" (click)="changeShowList(0); changeNbAchievementShown(0)">
                    <p>
                        Ovefview
                    </p>
                </span>
                <img id="selector" [style.margin-left]="paddingLeft+'%'" src="/dist/images/triangle.png"/>
            </div>
        </div>
    </div>
    
    <div class="centeredMessage" *ngIf="profileDetails.tabs.length == 0">
        <span *ngIf="personalProfile == true">You have</span>
        <span *ngIf="personalProfile == false">This user has</span>
         no achievements :-(
    </div>
    
    <div *ngFor="let achievementList of profileDetails.tabs" class="tabDetails">
        <div class="achievementDiv" [style.background]="achievementList.color" *ngIf="showList == 0">
            <span (click)="changeShowList(achievementList.id)" *ngIf="connected">
                <p>
                    <i class="{{achievementList.icon}}"></i><br/>
                    {{achievementList.name}}
                </p>
            </span>
            <span *ngIf="!connected">
                <p>
                    <i class="{{achievementList.icon}}"></i><br/>
                    {{achievementList.name}}
                </p>
            </span>
            <span (click)="changeShowAchievement(achievement.id)" *ngFor="let achievement of achievementList.achievements; let i = index">
                <achievementpreview *ngIf="i < 3" [achievement]="achievement"></achievementpreview>
            </span>
        </div>

        <div class="overlay" *ngIf="showAchievement != 0">
            <i (click)="changeShowAchievement(0)" class="fa fa-times"></i>
        </div>
        <div *ngFor="let achievement of achievementList.achievements">
            <div class="popup" *ngIf="showAchievement == achievement.id">
                <h2 class="centeredMessage" [style.background]="achievementList.color">
                    <i class="{{ achievement.icon }}"></i>
                    {{ achievement.name }}
                </h2>
                <p [innerHTML]="achievement.longDescWithLinks">
                    
                </p>
                <div>
                    <img *ngFor="let picture of achievement.images" src="{{picture}}"/>
                </div>
            </div>

        </div>

        <div class="achievementDiv" *ngIf="showList == achievementList.id">
            <div class="centeredMessage" *ngIf="achievementList.achievements.length == 0">This tab contains no achievement :(</div>
            <div (click)="changeShowAchievement(achievement.id)" class="achievementDiv" *ngFor="let achievement of achievementList.achievements" [style.background]="achievementList.color"> 
                <achievementdetails [achievement]="achievement"></achievementdetails>
            </div>
        </div>
    </div>
</div>


