
<div *ngIf="profileDetails">
    <div id="profileManagement" *ngIf="personalProfile">
        <a routerLink="/edittabs">
            <i class="fa fa-th-list"></i><br/>
            Manage your tabs
        </a>
        <a *ngIf="profileDetails.nbAchievements > 0" routerLink="/editachievements">
            <i class="fa fa-trophy"></i><br/>
            Manage your achievements
        </a>
    </div>
    <span>
        <img *ngIf="!profileDetails.picture" src="/dist/images/profilepicture.png"/>
        <img *ngIf="profileDetails.picture" src="{{profileDetails.picture}}"/>
    </span><!--
    
    --><div id="profileDetailsDiv">
        <span>
            <h3>{{profileDetails.firstname}} {{profileDetails.lastname}}</h3>
            <p>{{profileDetails.nbAchievements}} <i class="fa fa-trophy"></i></p>
        </span>
        <profileTabs [user]="profileDetails"></profileTabs>
    </div>
    
    <div class="centeredMessage" *ngIf="profileDetails.tabs.length == 0">
        <span *ngIf="personalProfile == true">You have</span>
        <span *ngIf="personalProfile == false">This user has</span>
         no achievements :-(


    </div>
    <div *ngFor="let achievementList of profileDetails.tabs">
        <tabDetails [achievementList]="achievementList"></tabDetails>
    </div>
</div>
