<h2>Manage your achievements here :</h2>

<div *ngIf="profileDetails">
    <div *ngFor="let achievementList of profileDetails.tabs">
        <h1 class="centeredMessage">
            Tab : <i class="{{achievementList.icon}}"></i>
            {{achievementList.name}}
        </h1>
        <div class="centeredMessage">
            <div *ngFor="let achievement of achievementList.achievements">
                <a [style.background]="achievementList.color" class="achievement" href="formachievement?id={{achievement.id}}&tabid={{achievementList.id}}">
                    <span>
                        <p>
                            <i class="{{achievement.icon}}"></i>
                            {{achievement.name}}
                        </p>
                    </span>
                </a>
            </div>

        </div>
    </div>

    <a id="addButton" routerLink="/formachievement">
        <p><i class="fa fa-plus"></i> Add achievement</p>
    </a>
    
</div>