<h2>Edit your profile :</h2>
<div *ngIf="error">
    <div class="error">{{error}}</div>
</div>
<div>
    <form (ngSubmit)="editAttempt()">    
        <label for="firstname">Fisrtname</label><br/>
        <input [(ngModel)]="firstname" name="firstname" type="text" placeholder="John" required autocomplete="off"/><br/><br/>
        <label for="lastname">Lastname</label><br/>
        <input [(ngModel)]="lastname" name="lastname" type="text" placeholder="Doe" required autocomplete="off"/><br/><br/>
        <label for="picture">Picture (2MiB max)</label><br/>
        <input type="file" accept="image/*" name="file" (change)="updateFiles($event)" /><br/>
        <span *ngIf="picture">
            Actual Picture :
            <img class="preview preview-profile" src="{{picture}}"/>
        </span><br/><br/>
        <input type="submit" value="Submit"/>
    </form>
</div>
