<span id="profileConnected" *ngIf="profile">
    <a class="nobr">
        <p (click)="changeVisibleList()">Hi, {{ profile.firstname }} !</p>
        <span *ngIf="profile.profilePicture && profile.profilePicture != 'null'" (click)="changeVisibleList()">
            <img src="{{ profile.profilePicture }}"/>
        </span>
        <span *ngIf="!profile.profilePicture || profile.profilePicture == 'null'" (click)="changeVisibleList()">
            <img src="/dist/images/profilepicture.png"/>
        </span>
    </a>
    <span id="profileConnectedList" *ngIf="visibleList">
        <span id="triangleProfile"></span>
        <ul>
            <li>
                <a routerLink="/profile">
                    <i class="fa fa-user"></i> Your profile
                </a>
            </li>
            <li>
                <a routerLink="/editprofile">
                    <i class="fa fa-edit"></i> Edit your personal info
                </a>
            </li>
            <li>
                <a routerLink="/logout">
                    <i class="fa fa-sign-out"></i> Logout
                </a>
            </li>
        </ul>
    </span>
    
    
</span>

<span id="profileLogin" class="nobr" *ngIf="!profile">
    <a routerLink="/login">
        <i class="fa fa-sign-in"></i> Log in
    </a>
</span>
