<span id="profileConnected" *ngIf="profile">
    <a routerLink="/profile">
        <p>Hi, {{ profile.firstname }} !</p>
        <span *ngIf="profile.picture">
            <img src="{{ profile.picture }}"/>
        </span>
        <span *ngIf="!profile.picture">
            <img src="/dist/images/profilepicture.png"/>
        </span>
    </a>
    <span id="profileConnectedList">
        <span id="triangleProfile"></span>
        <ul>
            <li>
                <a routerLink="/profile">
                    <i class="fa fa-user"></i> Your profile
                </a>
            </li>
            <li>
                <a routerLink="/editprofile">
                    <i class="fa fa-edit"></i> Edit your personal info
                </a>
            </li>
            <li>
                <a routerLink="/logout">
                    <i class="fa fa-sign-out"></i> Logout
                </a>
            </li>
        </ul>
    </span>
    
    
</span>

<a routerLink="/login" *ngIf="!profile">
    <i class="fa fa-sign-in"></i> Log in
</a>
